In [2]:
import pandas as pd

In [8]:
excel = pd.ExcelFile('SuperMarket_Transaction_Data.xlsx')

In [9]:
df = excel.parse(excel.sheet_names[0])

In [10]:
df.head()

,Invoice_id,Cust_id,Txn_date,Product_Sub_category,Product_Category,Qty,Rate,Tax,Total_Amt,Store_type
0,25890929042,266783,2016-09-23,Women,Footwear,4,1321,554.820,5838.820,e-Shop
1,25890929042,266783,2016-09-24,Women,Footwear,-4,-1321,554.820,-5838.820,e-Shop
2,98477711300,266783,2017-10-21,Mens,Clothing,3,93,29.295,308.295,TeleShop
3,8410316370,266783,2018-02-20,Mens,Clothing,1,869,91.245,960.245,e-Shop
4,16999552161,266783,2018-09-02,Non-fiction,Books,2,835,175.350,1845.350,e-Shop

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21988 entries, 0 to 21987
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Invoice_id            21988 non-null  int64
 1   Cust_id               21988 non-null  int64
 2   Txn_date              21988 non-null  datetime64[ns]
 3   Product_Sub_category  21988 non-null  object
 4   Product_Category      21988 non-null  object
 5   Qty                   21988 non-null  int64
 6   Rate                  21988 non-null  int64
 7   Tax                   21988 non-null  float64
 8   Total_Amt             21988 non-null  float64
 9   Store_type            21988 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 1.7+ MB

In [14]:
#duplicates
duplicates = df.duplicated().sum()
print(duplicates)

13

In [15]:
#drop duplicates
df= df.drop_duplicates()

In [16]:
#check
duplicates = df.duplicated().sum()
print(duplicates)

0

In [18]:
#separating returns from DF
df_returns = df[df['Qty'] < 0]
df = df[df['Qty']>=0]